@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

nav {
  display: grid;
  grid-template-columns: 10px 100px 10px 400px repeat(4, 20px) 1fr repeat(
      3,
      40px
    );
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 20px;
  font-size: 14px;
}

#secondGrid {
  display: grid;
  grid-template-columns: 120px repeat(6, 80px) 100px 80px 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 20px;
  font-size: 14px;
}

#secondGrid svg {
  height: 16px;
  width: 16px;
  color: #5f6368;
}

#secondGrid div {
  display: flex;
  justify-content: space-evenly;
  width: 70px;
  color: #5f6368;
}

#seperatorGrid {
  display: grid;
  grid-template-columns: 150px 50px 1fr;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}

#colorGrid {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 3px solid #1a73e8;
}

.greyGrid {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid lightgray;
}

#thirdGrid {
  display: grid;
  grid-template-columns: 140px 40px 300px 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
  color: #70757a;
}

#searchInfo {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: start;
  grid-column-end: span 2;
}

#allSingle span {
  color: #1a73e8;
}

#logo {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

#logo img {
  height: 30px;
  margin-left: 10px;
}

#forminput {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: span 5;
}

#inputText {
  height: 40px;
  width: 500px;
  border: none;
  text-indent: 20px;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  border-color: #d4cccc;
  box-shadow: 0 0 10px #d4cccc;
}

#inputText:hover {
  outline: none;
  border-color: #d4cccc;
  box-shadow: 0 0 10px #d4cccc;
}

#inputText:focus {
  outline: none;
  border-color: #d4cccc;
  box-shadow: 0 0 10px #d4cccc;
}

#clearIcon {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column-end: span 1;
  color: #70757a;
  fill: #70757a;
  cursor: pointer;
  font-size: 14px;
  width: 24px;
}

#seperator {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-column-end: span 1;
  margin-right: 20px;
  line-height: 44px;
  height: 29px;
  border-left: 1px solid rgb(223, 225, 229);
}

#microphone {
  grid-row-start: 1;
  grid-column-start: 7;
  grid-column-end: span 1;
  margin-right: 40px;
  color: #222;
  cursor: pointer;
  font-size: 14px;
  transform-origin: 0px 0px;
  height: 24px;
  width: 24px;
  align-self: center;
}

#searchicon {
  grid-row-start: 1;
  grid-column-start: 8;
  grid-column-end: span 1;
  margin-right: 40px;
  color: #9aa0a6;
  fill: #9aa0a6;
  font-size: 14px;
  line-height: 24px;
  transform-origin: 0px 0px;
  height: 20px;
  width: 20px;
}

#settingsIcon {
  grid-row-start: 1;
  grid-column-start: 10;
  grid-column-end: span 1;
  color: rgb(60, 64, 67);
  cursor: pointer;
  font-size: 14px;
  height: 24px;
  width: 24px;
  line-height: 24px;
}

#appsIcon {
  grid-row-start: 1;
  grid-column-start: 11;
  grid-column-end: span 1;
}

#appsIcon img {
  height: 30px;
}

#profileIcon {
  grid-row-start: 1;
  grid-column-start: 12;
  grid-column-end: span 1;
}

#profileIcon img {
  height: 50px;
}

#upEmpty {
  grid-row-start: 1;
  grid-column-start: 10;
  grid-column-end: span 4;
}

.searchResult {
  display: grid;
  grid-template-columns: 140px 600px 1fr;
  justify-items: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

.headerText {
  font-size: 20px;
  color: rgb(26, 13, 171);
  font-weight: 400;
  line-height: 26px;
  text-decoration-thickness: initial;
  margin-top: 3px;
  margin-bottom: 3px;
}

.headerLink {
  color: rgb(32, 33, 36);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-top: 1px;
  text-decoration-thickness: initial;
}

.searchText {
  color: rgb(77, 81, 86);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.searchLinks a {
  text-decoration-line: none;
  color: rgb(26, 13, 171);
  text-decoration-color: rgb(26, 13, 171);
  text-decoration-style: solid;
  text-decoration-thickness: initial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#alsoSearch {
  display: grid;
  grid-template-columns: 140px 600px 1fr;
  justify-items: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

#alsoSearchBox {
  border-radius: 8px;
  border: 1px solid rgb(218, 220, 224);
  width: 100%;
  display: flex;
  flex-direction: column;
}

#alsoSearchInitial {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}

#searchLinksOverall {
  margin-left: 15px;
  margin-bottom: 15px;
}

#searchLinksOverall a {
  text-decoration-line: none;
  color: rgb(26, 13, 171);
  text-decoration-color: rgb(26, 13, 171);
  text-decoration-style: solid;
  text-decoration-thickness: initial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#alsoSearchLinks {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 20px);
}

#relatedSearches {
  display: grid;
  grid-template-columns: 140px 600px 1fr;
  justify-items: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

#relatedContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
}

#typeSearch {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #202124;
  font-family: arial, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 0;
  margin-right: 0;
}

#searchImages {
  font-size: 14px;
  color: #202124;
  font-family: arial, sans-serif;
  margin-bottom: 16px;
  margin-top: 8px;
  display: inline-flex;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
}

.imageLink {
  font-size: 14px;
  font-family: arial, sans-serif;
  white-space: nowrap;
  color: #202124;
  background: rgba(0, 0, 0, 0.03);
  height: inherit;
  position: absolute;
  width: inherit;
}

#searchImages img {
  width: 90%;
  height: auto;
}

#searchImages a {
  font-size: 14px;
  font-family: arial, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 8px;
  color: #202124;
  outline: 0;
  margin-right: 8px;
  width: 100px;
}
#searchImages a:hover {
  text-decoration: underline;
}

.innerImageDiv {
  font-size: 14px;
  font-family: arial, sans-serif;
  /* white-space: nowrap; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  color: #202124;
  margin-bottom: 8px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

#relatedSearch {
  font-weight: normal;
  color: #202124;
  font-size: 22px;
  line-height: 28px;
  font-family: Google Sans, arial, sans-serif !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #ecedef;
}

#seeMore {
  align-self: center;
  height: 25px;
  width: 300px;
  text-align: center;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  border-color: #d4cccc;
  box-shadow: 0 0 10px #d4cccc;
}

#feedbackContainer {
  display: flex;
  justify-content: space-between;
}

#feedbackBorder {
  width: 90%;
  border-bottom: 1px solid #dadce0;
  margin-bottom: 8px;
}

#feedbackText a {
  font-size: 12px;
  padding-left: 5px;
  text-align: right;
  font-family: arial, sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #70757a;
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#feedbackText a:hover {
  text-decoration: underline;
}

#furtherSearch {
  display: grid;
  grid-template-columns: 140px 600px 1fr;
  justify-items: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

#furtherGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(4, 25px);
  justify-items: flex-start;
  align-items: center;
  column-gap: 5px;
  row-gap: 40px;
  font-size: 14px;
}

.furtherSingleGrid {
  display: grid;
  grid-template-columns: 50px 200px 1fr;
  justify-items: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 17px;
  background-color: rgb(241, 243, 244);
  border-radius: 25px;
}

.furtherSingleGrid svg {
  color: #7d8791;
  fill: #7d8791;
  font-size: 14px;
  line-height: 24px;
  transform-origin: 0px 0px;
  height: 20px;
  width: 20px;
}

#navigationNumbers {
  display: grid;
  grid-template-columns: 350px 200px 1fr;
  justify-items: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#navigationMain {
  display: grid;
  grid-template-columns: repeat(15, 5px);
  grid-template-rows: repeat(2, 5px);
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 25px;
  font-size: 12px;
}

#navigationMain a {
  text-align: right;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: rgb(66, 133, 244);
  font-style: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#navigationMain a:hover {
  text-decoration: underline;
}

.googleText {
  font-size: 24px;
  color: rgb(251, 204, 80);
}

.gtext {
  color: rgb(66, 133, 244);
}

.redletters {
  color: rgb(234, 67, 53);
}

.greenletter {
  color: rgb(64, 172, 93);
}

#footerstart {
  display: grid;
  grid-template-columns: 140px 100px 10px repeat(2, 1fr);
  height: 40px;
  color: rgba(0, 0, 0, 0.54);
  justify-items: flex-start;
  align-items: flex-end;
  column-gap: 10px;
  font-size: 12px;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid rgb(170, 174, 182);
}

#footerstart a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: rgb(66, 133, 244);
  font-style: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#footerstart a:hover {
  text-decoration: underline;
}

#footerend {
  display: grid;
  grid-template-columns: 185px 300px 1fr;
  height: 40px;
  color: rgba(0, 0, 0, 0.54);
  justify-items: flex-start;
  align-items: center;
  font-size: 12px;
  background-color: rgb(242, 242, 242);
}

#footerseperator {
  margin-top: 10px;
  height: 80%;
  width: 100%;
  border-right: 1px solid rgb(170, 174, 182);
}

#footerBD {
  justify-self: flex-end;
  margin-bottom: 5px;
}

#footerCircle {
  font-family: arial, sans-serif;
  font-size: 14px;
  visibility: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  color: #70757a;
  white-space: normal;
  background: #70757a;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
}

#footerLinks {
  display: flex;
}

#footerLinks a {
  margin-right: 20px;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  color: #70757a;
  outline: 0;
}

#footerLinks a:hover {
  color: #595b5e;
}
